.contact_us_form_1 {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
gap: 5vw;
padding-right: 5%;
padding-left: 5%;


}
.contact_us_form_1 li {

    
    width: 100%;
    
    
    }




.company_card_1_form
{

display: grid;
grid-template-rows: 1fr 1fr 1fr;
align-items: center;
background-color: #f9f9f9;
margin-right:20% ;
margin-left:20% ;
border-radius: 20px;
padding-top: 5%;
padding-bottom: 5%;

}
.contact_us_form_last_feild {


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    

}
.contact_us_form_last_feild li {


    
    width: 100%;
    

}

.form_label_all {

font-weight: bold;


}

.form_label_all span {

   font-size: 15px;
   padding-left: 5px;
    }

.form_heading_text {

text-align: center;
padding-bottom: 8vh;
font-size: 20px;
font-weight: bold;



}    
.animations_contact {

display: none;


}

.hehehe {

display: none;


}

